<input  id="username" value="{{username}}" style="display:none">
<input  id="token" value="{{token}}" style="display:none">

<!-- Side Menu -->
<div class="col-lg-2" id="menu-bar">
    <div class="col-lg-12" style="margin: 20px 0px; height: 45px; border-bottom: 1px solid white;">
        <a href="/" style="color: black;">
            <i class="fa fa-user" aria-hidden="true"></i><span> Account</span><br/>
    </a>
    </div>
    <div class="col-lg-12" style="margin: 10px 0px; height: 80px; border-bottom: 1px solid white;">
        <a href="/console/dashboard" style="color: black;">
            <i class="fa fa-server" aria-hidden="true"></i><span> Dashboard</span><br/>
        </a>
    </div>
</div>
<div class="col-lg-10" id="console-panel">
    <div class="col-lg-4" style="height: 200px">
        <div class="col-lg-12">EUR_USD</div>
        <div class="col-lg-6">
            <div class="" id="bid1"> -- </div>
            <div class="" id="ask1"> -- </div>
        </div>
    </div>
        <div class="col-lg-4" style="height: 200px">
        <div class="col-lg-12">USDJPY</div>
        <div class="col-lg-6">
            <div class="" id="bid2"> -- </div>
            <div class="" id="ask2"> -- </div>
        </div>
    </div>
</div>