body{
    margin: 0px;
    padding: 0px;
}

.nav-link{
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.alert.alert-danger{
    margin: 10px 10px;
}

.alert.alert-success{
    margin: 10px 10px;
}

.page-header{
    margin: 40px 0px 10px 0px;
    border-bottom: none;
}

.user-title{
    font-size: 18px;
    font-weight: 800;
    padding: 25px 0px;
    border: 1px solid black;
    height: 80px;
}

.user-info{
    font-size: 15px;
    border: 1px solid black;
    height: 80px;
}

.front-hr{
    border: 2px solid rgba(153, 67, 67, 0.568); 
    border-radius: 5px; 
    width: 40%;
    margin-top: 0px;
}

#menu-bar{
    background: rgba(79, 94, 117, 0.733); 
    height: 92vh;
}

#console-panel{
    background: rgba(212, 215, 219, 0.733); 
    height: 92vh;
}

#enter-app{
    outline: none;
}

/*Dashboard*/

#console-panel{
    padding: 0px;
    margin:0px;
}

#instruments-area{
    height: 60vh; 
    border: 1px solid grey; 
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}

#instrument-board{
    margin-left: 15px;
}

#chart-area{
    height: 60vh; 
    border: 1px solid grey; 
}

#position-area{
    height: 32vh; 
    border: 1px solid grey; 
    overflow-y: scroll;
}

.instrument-box{
    margin: 5px;
    padding: 5px 10px;
    border: 0.5px solid black;
}

.instrument-title{
    font-size: 15px;
    font-weight: 900;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px;
    margin: 4px 0px;
}

.instrument-subtitle{
    padding: 3px 10px;
    font-size: 13px;
}

.instrument-content{
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
}

#instrument-menu{
    margin: 10px 0px;
}

.menu-btn{
    padding: 5px 10px;
}

.table-box{
    background: white;
    margin: 5px 0px;
    border-radius: 5px;
}

.option-box{
    background: white;
    margin: 5px 0px;
    border-radius: 5px;
}

/*End Dashboard*/